#gameover {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

#gameover h2{
  margin-bottom: 1rem;
}


#gameover p {
  margin-bottom: 1rem;
  color: white;
  font-size: 20px;
}


#gameover img {
  margin: 2rem auto;
  height: 200px;
}
